<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="./local-packages" />
  </config>
  
  <packageSources>
    <clear />
    <!-- Direct reference to ReferenceCop package build output -->
    <add key="local-build" value="../src/ReferenceCop.Package/bin/Debug" />
    <!-- NuGet.org for other dependencies -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
