<?xml version="1.0" encoding="utf-8"?>
<ReferenceCopConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/mfogliatto/ReferenceCop/main/ReferenceCopConfig.xsd">
  <Rules>
    <ProjectTag>
      <Name>ToolsShouldNotReferenceTools</Name>
      <Description>Ensure Tools do not reference other Tools projects</Description>
      <Severity>Error</Severity>
      <FromProjectTag>Tools</FromProjectTag>
      <ToProjectTag>Tools</ToProjectTag>
    </ProjectTag>
  </Rules>
</ReferenceCopConfig>